/** element selector 
p{
    color: blue;
    font-size: 20px;
}**/


/** id selector
#footer-p {
font-size: 10px ;
color: gray;
}**/


/** class selector
.title{
    font-size: 25px;
    font-weight: 800;
    text-decoration: underline;
}**/

:root{
    --color-1: gray;
    --bg-color: #fafafa;
    --black2: black;
--border-color: rgb(114, 7, 7);
}
html, body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 0;
margin: 0;
}
h1, h2{
    padding: 0;
}
h1{
    font-size: 20px;
    text-decoration: underline;
    padding: 0;
    margin: 10px 0;
}
h2{
    font-size: 18px;

}
header{
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
nav a {
margin: 0 10px;
}

.nav, .main, .footer{
    max-width: 1275px;
    margin: 0 auto;  
}

.main, .footer{
    padding: 0 20px;  
    max-width: 1200px;
}
.sub-section p{
    color: var(--color-1);
}
.footer p{
    color: var(--black2)
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

.flex{
    display: flex;
    gap: 15px;
}
.flex-item{
    flex:1 ;
}
.grid-cell, .flex-item{
    height: 200px;
    background-color: var(--bg-color);
    border-radius: 10px;
padding: 12px;
border: 1px solid var(--border-color);
}
.flex-item:first-child{
    order:3;
}

/* animation*/
.animate{
    animation-name: slidein;
    animation-duration: 3s;

}

/*key frame*/
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

/* styling on a mobile devices*/
@media (max-width: 768px) {
.flex{
    flex-direction: column;
}
}